<header class="home-header">
	<div class="home-header_foreground">
		<hr class="home-header_divider" />
		<div class="home-header_content">
			<h1 class="home-header_title">{{ cms.basic.name }}</h1>
			<h3 class="home-header_subtitle">{{ cms.basic.longName }}</h3>
			<p class="home-header_body">
				{{ cms.basic.shortIntro.html | squeezeTag }}
			</p>
		</div>
	</div>
</header>
