<section class="home-opportunities" id="opportunities">
	<img
		class="home-opportunities_image"
		src="{{ cms.website.opportunitiesImage.url }}"
		alt="Opportunities"
	/>
	<article class="home-opportunities_main">
		<h3 class="home-opportunities_title">
			Training & Collaboration Opportunities
		</h3>
		<h4 class="home-opportunities_subtitle">
			Voyez ce jeu exquis wallon, de graphie en kit mais bref. Portez ce vieux
			whisky au juge blond qui fume sur son île intérieure, à
		</h4>
		<p class="home-opportunities_description">
			Donec eget risus vehicula, tincidunt leo ut, iaculis ligula. Cras aliquet
			felis quis leo porttitor luctus. Praesent id mi augue. Praesent ut
			faucibus velit. Aenean pharetra mattis purus vitae iaculis. Nunc convallis
			elementum ante sit amet hendrerit. Cras quis justo eleifend, tristique
			nulla id, placerat libero. Fusce viverra est ac sapien elementum, sit amet
			cursus tortor volutpat. In eget quam at mi consectetur cursus.
		</p>
	</article>
</section>
