<section class="home-publications" id="publications">
	<h1 class="home-publications_title">Publications</h1>
	<div class="home-publications_body">
		{{ cms.basic.publications.html }}
	</div>
	<div class="home-publications_content">
		<a class="home-publications_header" href="/publications">
			<span class="home-publications_year">{{
				cms.papers[0].date | monthYear
			}}</span>
			<span class="home-publications_view-all">
				View all publications
				<img src="{{ cms.website.downIcon.url }}" />
			</span>
		</a>
		{% for paper in cms.papers limit:4 %} {% include 'includes/paper.liquid'
		with paper %} {% endfor %}
	</div>
</section>
