<section class="home-what-we-do" id="what-we-do">
	<h1 class="home-what-we-do_title">What we do</h1>
	<p class="home-what-we-do_body">
		{{ cms.basic.whatWeDo.html | squeezeParagraphTag }}
	</p>
</section>
