<section class="home-who-we-are" id="who-we-are">
	<h1 class="home-who-we-are_title">Who we are</h1>
	<div class="home-who-we-are_body">
		{{ cms.basic.whoWeAre.html }}
	</div>
	{% for role in roles %}
	<h2 id="who-we-are-{{ role.slug }}">{{ role.plural }}</h2>
	<div class="home-who-we-are_people">
		{% assign leadership = cms.people | where: "role", role.name %} {% for
		person in leadership %} {% include 'includes/home/profile.liquid' with
		person %} {% endfor %}
	</div>
	{% endfor %}
</section>
