li.project {
	display: flex;
	flex-direction: row;
	gap: 15px;
	margin-top: 32px;
	padding: 30px 130px;
}
li.project h3 {
	font-size: larger;
	margin-top: 0;
}
li.project .collaborators {
	margin-top: 2px;
}
li.project .description {
	margin-top: 10px;
}
li.project .description,
li.project .url,
li.project .collaborators {
	font-weight: 300;
}
li.project h3,
li.project .description,
li.project .collaborators,
li.project .url {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}
li.project .links {
	margin-top: 12px;
	font-weight: 300;
}
li.project .links strong {
	font-weight: 400;
}
li.project img {
	width: 35%;
	height: fit-content;
	aspect-ratio: 7/4;
}
@media (max-width: 900px) {
	li.project {
		flex-direction: column;
	}
	li.project img {
		width: auto;
		height: auto;
		max-height: 600px;
	}
}
