---
styles:
  - layouts/base.css
  - layouts/general.css
  - navbar.css
  - footer.css
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap"
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/images/icons/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/images/icons/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/images/icons/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		{% for path in styles %}
		<link rel="stylesheet" href="/styles/{{ path }}" />
		{% endfor %} {% if slider %}
		<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
		/>
		<link rel="stylesheet" href="/styles/slider/projects.css" />
		{% endif %}
		<script src="https://cdn.jsdelivr.net/gh/tomickigrzegorz/show-more/dist/js/showMore.min.js"></script>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/gh/tomickigrzegorz/show-more/dist/css/show-more.min.css"
		/>
		<title>{{ cms.website.title }}</title>
		<script>
			document.addEventListener('DOMContentLoaded', function () {
				new ShowMore('.preview', {
					config: {
						type: 'text',
						limit: 210,
						more: '&#8594; more',
						less: '&#8592; less',
					},
				})
			})
		</script>
	</head>
	<body>
		{% include 'includes/navbar.liquid' %} {{ content }} {% include
		'includes/footer.liquid' %}
	</body>
</html>
