<section class="subscribe">
	<h3 class="subscribe_title">Subscribe to our newsletter</h3>
	<form class="subscribe_form" onsubmit="event.preventDefault()">
		<input class="subscribe_email" type="email" placeholder="Enter your email" />
		<button class="subscribe_button">Subscribe</button>
	</form>
</section>
