---
title: Join Us - Practically Causal
styles:
  - join.css
layout: layouts/base.liquid
---

<section class="join">
	<h1 class="join_title">Join Us</h1>
	<div class="join_content">
		{{ cms.basic.joinUs.html }}
	</div>
</section>
