---
title: Publications - Practically Causal
styles:
	- publications.css
layout: layouts/base.liquid
---

<section class="publications">
	<h1 class="publications_title">Publications</h1>
	<div class="publications_body">
		{{ cms.basic.publications.html }}
	</div>
	<div class="publications_content">
		<p class="publications_year">{{ cms.papers[0].date | year }}</p>
		{% for paper in cms.papers %} {% include 'includes/paper.liquid' with paper
		%} {% endfor %}
	</div>
</section>
