---
title: Software - Practically Causal
styles:
  - software.css
layout: layouts/base.liquid
---

<section class="software">
	<h1 class="software_title">Software</h1>
	<div class="software_content">
		{{ cms.policy.details.html }}
	</div>
</section>
