section.content {
	padding: 100px 240px;
}
section.content h1 {
	font-size: 52px;
	font-weight: 700;
	color: var(--black);
}
div.content {
	margin-top: 60px;
	line-height: 20px;
}
div.content h2,
div.content h3,
div.content h4 {
	font-size: revert;
	font-weight: revert;
	margin-top: inherit;
}

div.content strong {
	font-weight: 400;
}
div.content .date {
	font-size: 24px;
	font-weight: 500;
	padding: 24px 0 24px 24px;
	color: var(--black);
	border-left: 2px solid #ddd;
}
div.content > ol,
div.content > p {
	margin-top: 20px;
}
div.content strong {
	font-weight: bold;
}
div.content li {
	margin-top: 10px;
}
div.content ul,
div.content ol {
	margin-left: 17px;
}
a.highlight {
	appearance: none;
	background-color: #fafbfc;
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-radius: 6px;
	box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
		rgba(255, 255, 255, 0.25) 0 1px 0 inset;
	box-sizing: border-box;
	color: #24292e;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	list-style: none;
	padding: 3px 9px;
	position: relative;
	transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;
	word-wrap: break-word;
}

a.highlight:hover {
	background-color: #f3f4f6;
	text-decoration: none;
	transition-duration: 0.1s;
}

a.highlight:disabled {
	background-color: #fafbfc;
	border-color: rgba(27, 31, 35, 0.15);
	color: #959da5;
	cursor: default;
}

a.highlight:active {
	background-color: #edeff2;
	box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
	transition: none 0s;
}

a.highlight:focus {
	outline: 1px transparent;
}

a.highlight:before {
	display: none;
}

a.highlight:-webkit-details-marker {
	display: none;
}
