.software {
	padding: 100px 240px;
}
.software_title {
	font-size: 52px;
	font-weight: 700;
	color: var(--black);
}
.software_content {
	margin-top: 60px;
	line-height: 20px;
}
.software_content .software_item {
	margin-top: 20px;
	background-color: rgba(0, 128, 255, 0.05);
	padding: 7px;
	border-radius: 5px;
	overflow: hidden;
}
.software_content .software_item h3 {
	font-size: larger;
}

.software_content .software_item .description,
.software_content .software_item .url,
.software_content .software_item .papers {
	font-weight: 300;
	margin-top: 10px;
}

.software_content strong {
	font-weight: 400;
}
.software_content .software_item h3,
.software_content .software_item .description,
.software_content .software_item .papers,
.software_content .software_item .url {
	overflow: hidden;
	text-overflow: ellipsis;
}
